footer {
	height: 5%;
	padding: 0 var(--space-half);
	text-align: right;
	background-color: var(--dark-turqoise);
	color: #fff;
}
footer > p {
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}