.searchbar {
	height: 5%;
	width: 100%;
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
	font-size: 2rem;
}
.filters {
	height: 5%;
	margin: var(--space-half) 0;
	font-weight: var(--weight-regular);
	font-size: 1.4rem;
	display: flex;
	align-items: center;
}
.filterIcon {
	transform: translateY(2px);
}
.bookList {
	width: 100%;
	height: 90%;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	overflow-y: scroll;
	position: relative;
}
.btnAddProduct {
	height: 4rem;
	line-height: 4rem;
	width: 4rem;
	border: .3rem solid #4183c4;
	border-radius: 50%;
	position: absolute;
	bottom: var(--space-half);
	right: var(--space-half);
	font-size: 3rem;
	font-weight: var(--weight-bolder);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 300ms ease;
}
.btnAddProduct > a {
	transition: all 300ms ease;
}
.btnAddProduct:hover {
	background-color: #4183c4;
	transition: all 300ms ease;
	border: none;
}
.btnAddProduct:hover > a {
	color: white !important;
	transition: all 300ms ease;
}