.bookThumbContainer {
	width: 25%;
	height: 350px;
	transition: all 150ms ease;
}
.bookThumb {
	padding: 10px;
	margin: 0 auto;
	width: calc(100% - var(--space-default));
	height: 90%;
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border: 1px solid var(--light-grey);
	border-radius: 5px;
	box-shadow: 0px 6px 12px rgba(var(--light-grey-rgb), .5);
	text-align: center;
	cursor: pointer;
	transition: all 150ms ease;
	animation: fade-in 500ms both 1;
	/* animation-delay is set in Book component */ 
}
.bookThumb:focus,
.bookThumb:hover {
	width: calc(105% - var(--space-default));
	height: 95%;	
	border: 1px solid var(--yellow);
	box-shadow: 0 4px 8px rgba(var(--light-grey-rgb), 1);
	background-color: var(--yellow);
	transition: all 150ms ease;
	outline: none;
}
.bookThumb:focus > a > .bookImage > img,
.bookThumb:hover > a > .bookImage > img {
	width: 102%;
	max-width: 185px;
	height: 102%;
	transition: all 150ms ease;
}
.bookThumb:focus > a > .bookTitle,
.bookThumb:hover > a > .bookTitle {
	transition: all 100ms linear;
	font-size: 1.4rem;
	font-weight: var(--weight-bold);
	margin: 0 !important;
	color: #fff;
}
.bookTitle {
	width: 100%;
	color: rgba(var(--dark-turqoise-rgb), 1);
	font-size: 1.2rem;
	word-wrap: break-word;
	transition: all 100ms linear;
}
.bookImage {
	width: 100%;
	height: 16rem;
	margin-bottom: var(--space-half);
}
.bookImage > img {
	width: 100%;
	max-width: 180px;
	height: 100%;
	transition: all 150ms ease;
}
.bookRating {
	background-color: #fff;
	padding: var(--space-quarter);
	border: 1px solid var(--light-grey);
	border-radius: 5px;
	display: flex;
}

@keyframes fade-in {
	from {
		opacity: 0;
		transform: translate(0, 50px);
	}
	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}

@media screen and (max-width: 1150px) {
	.bookThumbContainer {
		width: 50%;
		height: 350px;
		transition: all 150ms ease;
	}
}

@media screen and (max-width: 600px) {
	.bookThumbContainer {
		width: 100%;
		height: 350px;
		transition: all 150ms ease;
	}
}