@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap');

:root {
	/* TODO - Color Pallete */

	/* spacing */
	--space-eighth: 0.2rem;
	--space-quarter: 0.4rem;
	--space-half: 0.8rem;
	--space-default: 1.6rem;
	--space-double: 3.2rem;
	--space-quad: 6.4rem;
	--space-oct: 12.8rem;

	/* font-weights */
	--weight-light: 300;
	--weight-regular: 400;
	--weight-bold: 700;
	--weight-bolder: 900;
}

/* reset */
html {
	box-sizing: border-box;
	font-size: 62.5%;
}

*, *::before, *::after {
	box-sizing: inherit;
}

html, body {
	height: 100%;
}

body {
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.6rem;
	background-color: #fff;
	margin: 0;
}

p {
	margin: 0;
}