@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

:root {
	/* color pallete */
	--light-grey: #eee;
	--light-grey-rgb: 238, 238, 238;
	--yellow: #ffc70b;
	--yellow-rgb: 255, 199, 11;
	--turqoise: #3cd5e1;
	--turqoise-rgb: 60, 213, 225;
	--dark-turqoise: #009eaa;
	--dark-turqoise-rgb: 0, 158, 170;

	/* spacing */
	--space-eighth: 0.2rem;
	--space-quarter: 0.4rem;
	--space-half: 0.8rem;
	--space-default: 1.6rem;
	--space-double: 3.2rem;
	--space-quad: 6.4rem;
	--space-oct: 12.8rem;

	/* font-weights */
	--weight-light: 300;
	--weight-regular: 400;
	--weight-bold: 700;
	--weight-bolder: 900;
}

/* reset */
html {
	box-sizing: border-box;
	font-size: 62.5%;
}

*, *::before, *::after {
	box-sizing: inherit;
}

html, body {
	height: 100%;
}

body {
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.6rem;
	background-color: #fff;
	margin: 0;
}

p {
	margin: 0 !important;
}

.ui.error>input {
	border: 1px solid red !important;
}
.ui.label.label {
	width: 100px;
	text-align: center;
}
.field {
	margin-bottom: var(--space-default) !important;
}
.field > .ui.labeled.input {
	width: calc(100% - var(--space-default)) !important;
}
.field > .ui.labeled.input {
	width: calc(100% - var(--space-default)) !important;
}
.ui.breadcrumb a {
	color: white !important;
	font-size: 1.3rem;
}